
<div class="row">
  <div class="medium-10 columns content-focus">

    <form action="{{action}}" method="post">
      edit form
        edit all the details
      <button id="save">Save</button>
    </form>


  </div>
  <div class="medium-2 columns sidebar">
    {{> sidebar}}
  </div>
</div>
