

<div class="row">
  <div class="medium-10 columns content-focus">



    <form class="search">
      <input />
      <button>Search</button>
    </form>

		<br /><br />maps? advanced search stuff (do som cool stuff w data)<br /><br />



    {{> directory-list}}





  </div>
  <div class="medium-2 columns sidebar">
    <a class="button" href="/profile/edit/new">new profile</a><br />
    {{> sidebar}}
  </div>
</div>

