

<div class="row">
  <div class="medium-10 columns content-focus">



    {{> directory-list}}

    <form class="search">
      <input />
      <button>Search</button>
    </form>



  </div>
  <div class="medium-2 columns sidebar">

    {{> sidebar}}
  </div>
</div>

